body {
    background-image: url("../images/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#athletics-buttons{
    margin-top: 25px;
    color: orange;
    text-align: center;
}

#athletes {
    color:orange;
    background: black;
    border: black
}

#img {
    max-width: 50% !important;
    max-height: 50% !important;
}

.btn-primary {
    background-color: black;
    color: orange;
    border-color: transparent
}

label {
    font-size: large;
    margin-left: 39px;
}