body {
    background-image: url("../images/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

#athletics-buttons{
    background-color: black;
    color: orange;
}

#athletes {
    color:orange;
    background: black;
    border: black
}

#img {
    max-width: 50% !important;
    max-height: 50% !important;
}